
body{
	background-color: ghostwhite;
}

header{
	display: grid;
	grid-template-areas: 
	"logo fraseheader";
	grid-auto-columns: 50% 50%;
	grid-template-rows: 150px;
}

.logo{
	grid-area: logo;
	height: 50%;
	align-self: center;
	padding-left: 60px;
}

.fraseheader{
	grid-area: fraseheader;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
	padding-top: 40px;
	color: black;
	font-size: 24px;
	align-self: top;
	padding-right: 75px;
	
}


main{
	display: grid;
	grid-template-areas: 
	"tarmac"
	"diverge"
	"allez"
	"rockhopper_eliteH"
	"rockhopper_eliteM"
	"epic_comp"
	"epic_expert";
	grid-auto-columns: 100%;
	grid-template-rows: auto auto auto auto auto auto auto;
}

.tarmac{
	grid-area: tarmac;
	width: 100%;
}

.diverge{
	grid-area: diverge;
	width: 100%;
}

.allez{
	grid-area: allez;
	width: 100%;
}

.rockhopper_eliteH{
	grid-area: rockhopper_eliteH;
	width: 100%;
}

.rockhopper_eliteM{
	grid-area: rockhopper_eliteM;
	width: 100%;
}

.epic_comp{
	grid-area: epic_comp;
	width: 100%;
}

.epic_expert{
	grid-area: epic_expert;
	width: 100%;
}

@media only screen and (max-width: 768px) {
	header{
	display: grid;
	grid-template-areas: 
	"logo"
	"fraseheader";
	grid-auto-columns: 100%;
	grid-template-rows: 150px 50px;
	}

	.logo{
		display: flex;
		flex-direction: row;
		justify-self: center;
		padding: 0px;

	}

	.fraseheader{
		display: flex;
		flex-direction: row;
		justify-self: center;
		margin: 0px;
		padding: 0px;
	}

}



