
body{
	background-color: ghostwhite;
}

.logo{
	align-items: left;
	widows: 250px;
	height: 150px;
	padding-left: 55px;
}

header{
	display: grid;
	grid-template-areas: 
	"logo frase";
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

.logo{
	grid-area: logo;
}

.frase{
	grid-area: frase;
	font-family: 'Anton', sans-serif;
	padding-top: 48px;
	padding-right: 100px;
	text-align: right;
}

div{
	display: grid;
	grid-template-areas: 
	"rockhopperexpert rockhopperelite chiselbra"
	"chiselcomp allez diverge"
	"epiccomp epicexpert tarmac";
	grid-auto-columns: 30% 30% 30%;
	grid-auto-rows: auto auto auto;
}

div{
	justify-content: center;
}

.rockhopperexpert{
	grid-area: rockhopperexpert;
	width: 90%;
	height: 90%;
}

.rockhopperelite{
	grid-area: rockhopperelite;
	width: 90%;
	height: 90%;
}

.chiselbra{
	grid-area: chiselbra;
	width: 90%;
	height: 90%;
}

.chiselcomp{
	grid-area: chiselcomp;
	width: 90%;
	height: 90%;
}

.allez{
	grid-area: allez;
	width: 90%;
	height: 90%;
}

.diverge{
	grid-area: diverge;
	width: 90%;
	height: 90%;
}

.epiccomp{
	grid-area: epiccomp;
	width: 90%;
	height: 90%;
}

.epicexpert{
	grid-area: epicexpert;
	width: 90%;
	height: 90%;
}

.tarmac{
	grid-area: tarmac;
	width: 90%;
	height: 90%;
}

@media only screen and (max-width: 768px) {	
	
	header{
		display: grid;
		grid-template-areas: 
		"logo frase";
		grid-template-columns: 50%;
		grid-template-rows: auto;
	}	


	div{
			display: grid;
	grid-template-areas: 
	"rockhopperexpert" 
	"rockhopperelite" 
	"chiselbra"
	"chiselcomp" 
	"allez" 
	"diverge"
	"epiccomp" 
	"epicexpert" 
	"tarmac";
	grid-auto-columns: 100%;
	grid-auto-rows: auto auto auto auto auto auto auto auto auto;
	}
}

div{
	align-content: center;
}